---
import Container from '@components/Container.astro';
import FeaturedProject from './FeaturedProject.astro';
import { getSortedProjects } from '@utils/projects';

const featuredProjects = (await getSortedProjects()).slice(0, 4);
---

<section class="overflow-x-clip bg-white pb-16 pt-8 sm:pb-24 sm:pt-12 md:pt-16">
  <Container>
    <div class="text-center">
      <h2
        class="font-display text-4xl font-semibold text-slate-900 sm:text-5xl"
      >
        Check out my latest work
      </h2>
      <p class="mx-auto mt-4 max-w-md text-lg leading-8 text-slate-700 sm:mt-5">
        My goal is to create effective digital experiences that make people’s
        lives easier and better. I hope my work is a reflection of this.
      </p>
    </div>
    <div
      class="relative mx-auto mt-16 max-w-xl space-y-16 lg:mx-0 lg:max-w-none"
    >
      {featuredProjects.map((project) => <FeaturedProject project={project} />)}
    </div>
  </Container>
</section>
