---
import ProjectComponent from './Project.astro';
import type { Project } from '@types';

interface Props {
  projects: Project[];
}

const { projects } = Astro.props;
---

<div
  class:list={[
    'mx-auto mt-12 grid max-w-xl gap-12 sm:mt-16 lg:mx-0 lg:mt-24 lg:max-w-none lg:grid-cols-2 lg:gap-10 xl:gap-24',
    projects.length % 2 === 0 && 'lg:pb-32',
  ]}
>
  {
    projects.map(async (project, index) => (
      <ProjectComponent project={project} index={index} />
    ))
  }
</div>
