---
import { getCollection } from 'astro:content';
import Container from '../../components/Container.astro';
import MainLayout from '../../layouts/MainLayout.astro';
import Game from '../../components/Game.astro';

const games = (await getCollection('games')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<MainLayout title="Games | Rosnovsky Park™" description="My Games.">
  <Container>
    <h1 class="mb-10 text-5xl font-black tracking-tighter">
      All my favorite games!
    </h1>
    <aside class="">
      <p>
        Unlike with <a href="/library">books</a>, I don't have a specific genre
        I like to play. I've got about 130 games in my Steam library, but here
        I'll only list the ones I've played for a while and really enjoyed.
      </p>
      <p>
        I've got a total of <strong>{games.length} favorite games</strong> from <strong
          >{new Set(games.map((book) => book.data.studio.slug)).size} studios</strong
        > in my library.
      </p>
    </aside>
    <section>
      <div
        class="mx-auto mt-16 grid max-w-2xl auto-rows-fr grid-cols-1 gap-8 sm:mt-20 lg:mx-0 lg:max-w-none lg:grid-cols-3"
      >
        {games.map((game) => <Game {game} />)}
      </div>
    </section>
  </Container>
</MainLayout>
