# Mac files
.DS_Store

# Dependency directories
/node_modules
package-lock.json
package.json

lerna.json

sanity-plugin-autocomplete-tags/

# lerna files
/lerna-debug.log

# Local Netlify folder
.netlify
