---
import { getCollection } from 'astro:content';
import BlogPostCard from '../../components/Cards/BlogPostCard.astro';
import Container from '../../components/Container.astro';
import MainLayout from '../../layouts/MainLayout.astro';

const posts = (await getCollection('blog'))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .filter((post) => !post.data.draft);
---

<MainLayout title="Blog | Rosnovsky Park™">
  <Container>
    <h1 class="mb-10 text-5xl font-black tracking-tighter">
      All things web development, hiking, camping, books, and more.
    </h1>
    <section>
      <ul class="list-none">
        {
          posts.map((post) => (
            <li class="border-1 mb-10 border-sky-100">
              <BlogPostCard {post} />
            </li>
          ))
        }
      </ul>
    </section>
  </Container>
</MainLayout>
