---
import Role from './Role.astro';

const resumeRoles = [
  {
    company: 'Okta',
    url: 'https://www.okta.com/',
    title: 'Software Engineer',
    logo: '/okta.png',
    start: 'Dec 2019',
    end: 'Present',
  },
  {
    company: 'Microsoft',
    url: 'https: //microsoft.com',
    title: 'Software Engineer',
    logo: '/microsoft.svg',
    start: 'May 2019',
    end: 'Oct 2019',
  },
  {
    company: 'AT&T',
    url: 'https: //www.att.com/',
    title: 'Web Developer',
    logo: '/att.svg',
    start: 'Apr 2017',
    end: 'Oct 2018',
  },
  {
    company: 'Intel',
    url: 'https: //www.intel.com/',
    title: 'Web Producer',
    logo: '/intel.svg',
    start: 'Dec 2016',
    end: 'Apr 2017',
  },
];
---

<div class="rounded-2xl border border-zinc-100 p-6 dark:border-zinc-700/40">
  <h2 class="flex text-sm font-semibold text-zinc-900 dark:text-zinc-100">
    <!-- {CaseIcon} -->
    <span class="ml-3">Work</span>
  </h2>
  <ol class="mt-6 space-y-4">
    {
      resumeRoles.map((role, roleIndex) => (
        <Role role={role} roleIndex={roleIndex} />
      ))
    }
  </ol>
  <!-- <a href="" class="group mt-6 w-full">
    Not looking for work
    {
      /* <ArrowDownIcon class="h-4 w-4 stroke-zinc-400 transition group-active:stroke-zinc-600 dark:group-hover:stroke-zinc-50 dark:group-active:stroke-zinc-50" /> */
    }
  </a> -->
</div>
