---
import { getCollection } from 'astro:content';
import Book from '../Book.astro';

const books = await getCollection(
  'books',
  ({ data }) => data.status === 'reading'
);
---

<div class="rounded-2xl border border-zinc-100 p-6 dark:border-zinc-700/40">
  <h2 class="flex text-sm font-semibold text-zinc-900 dark:text-zinc-100">
    <span class="ml-3">Reading Now</span>
  </h2>
  <ul class="mt-6 space-y-4">
    {
      books.length !== 0 ? (
        books.map((book) => (
          <li class="  list-none ">
            <Book {book} />
          </li>
        ))
      ) : (
        <p class="text-sm text-zinc-600 dark:text-zinc-400">
          I'm not currently reading anything.
        </p>
      )
    }
  </ul>
</div>
