@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,400;0,600;0,700;0,900;1,400;1,600;1,700;1,900&display=swap');

@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */

.microlink_card {
  --microlink-max-width: 56rem;
}

a.microlink_card {
  text-decoration: none;
  color: black;
}

.microlink_card__content_description {
  text-decoration: none;
  color: black;
}

.youtubeContainer {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
  margin-bottom: 50px;
}

.blur {
}

.youtubeContainer iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.construction {
  background: repeating-linear-gradient(
    45deg,
    rgba(246, 224, 94, 0.9),
    rgba(246, 224, 94, 1) 10px,
    rgba(26, 32, 44, 0.9) 10px,
    rgba(26, 32, 44, 1) 20px
  );
}

.covid {
  background: repeating-linear-gradient(
    -45deg,
    rgba(246, 224, 94, 0.9),
    rgba(246, 224, 94, 1) 10px,
    rgba(26, 32, 44, 0.9) 10px,
    rgba(26, 32, 44, 1) 20px
  );
}
