---
import ChevronRightIcon from './ChevronRightIcon.astro';
---

<div
  aria-hidden="true"
  class="relative z-10 mt-4 flex items-center text-sm font-medium text-teal-500"
>
  <slot />
  <ChevronRightIcon class="ml-1 h-4 w-4 stroke-current" />
</div>
