---
import clsx from 'clsx';
const props = Astro.props;

const { decorate = false } = props;
---

<div
  class={clsx(
    props.class,
    'relative z-10 order-first mb-3 flex items-center text-sm font-mono text-zinc-400 dark:text-zinc-400',
    decorate && 'pl-3.5'
  )}
  {...props}
>
  {
    decorate && (
      <span
        class="absolute inset-y-0 left-0 flex items-center"
        aria-hidden="true"
      >
        <span class="h-4 w-0.5 rounded-full bg-zinc-200 dark:bg-zinc-400" />
      </span>
    )
  }
  <slot />
</div>
