---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
  title="About Me"
  description="Lorem ipsum dolor sit amet"
  pubDate={new Date('August 08 2021')}
  updatedDate={new Date('March 11 2023')}
  heroImage="/placeholder-about.jpg"
>
<p>
  Hey, my name is Art.
</p>
<p>I'm a web developer based in Western Washington. I live about 50 miles north of Seattle in a small town called Arlington.</p>

<blockquote>For a while, I lived in London (not that one, but the one in Ontario, Canada) before moving to Vancouver (not that one, but the one in Washington; not that Washington, but Washington state). Now I live in Arlington (and not the one in Virginia, mind you!)</blockquote>
<p>After short gigs at Intel, AT&T, and Microsoft, I ended up at <a href="https://auth0.com">Auth0</a> (acquired by <a href="https://okta.com">Okta</a> in May 2021). Here I work as a Software Engineer, building out Okta's Customer Identity Cloud Digital Experience programs and tooling.</p>

<p>Feel free to connect with me on <a href="https://lounge.town/@rosnovsky">Mastodon</a> or <a href="https://linkedin.com/in/rosnovsky">LinkedIn</a>.</p>

<blockquote>For the longest time, I'd been a podcaster. In my previous life, I even was a minor radio celebrity, worked as a television producer and correspondent, and have done a bunch of front-line reporting from terrorist attacks, riots, and hostage situations. Yet here we are.</blockquote>
</p>
  
</Layout>
