---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="mx-auto w-2/3">
    <Header title={SITE_TITLE} />
    <main class="prose prose-xl">
      <h1>Software engineer, hiker, and avid reader.</h1>
      <p>
        I' m Art, and we need to talk. Or maybe we don't. In any case, I write
        about web development, hiking, and random hobbies I pick up every now
        and then.
      </p>
    </main>
    <Footer />
  </body>
</html>
