---
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'input'> {
  label: string;
  name: string;
}

const { label, name, ...attrs } = Astro.props;
---

<div class="flex items-start">
  <div class="flex h-6 items-center">
    <input
      id={name}
      name={name}
      type="checkbox"
      class="h-4 w-4 rounded border-slate-300/80 bg-slate-50 text-emerald-600 shadow-sm shadow-emerald-100/50 focus:outline-none focus:ring-transparent"
      {...attrs}
    />
  </div>
  <div class="ml-3 text-sm leading-6">
    <label for={name} class="text-slate-700">
      {label}
    </label>
  </div>
</div>
