---
import { getCollection } from 'astro:content';
import Container from '../../components/Container.astro';
import MainLayout from '../../layouts/MainLayout.astro';
import Book from '../../components/Book.astro';

const books = (await getCollection('books'))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .filter((post) => !post.data.draft);
---

<MainLayout
  title="Blog | Rosnovsky Park™"
  description="All of my long-form thoughts on programming, leadership, product design, and more, collected in chronological order."
>
  <Container>
    <h1 class="mb-10 text-5xl font-black tracking-tighter">
      All things web development, hiking, camping, books, and more.
    </h1>
    <section>
      <div class="mx-auto mt-16 grid max-w-2xl auto-rows-fr grid-cols-1 gap-8 sm:mt-20 lg:mx-0 lg:max-w-none lg:grid-cols-3">
      
        {
          books.map((book) => (
                <Book {book} />
              </div>
              </div>
              ))
            }
      </div>
    </div>
    </section>
  </Container>
</MainLayout>
