---
import { getCollection } from 'astro:content';
import Container from '../../components/Container.astro';
import MainLayout from '../../layouts/MainLayout.astro';
import Book from '../../components/Book.astro';

const books = (await getCollection('books'))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .filter((post) => !post.data.draft);
---

<MainLayout
  title="Blog | Rosnovsky Park™"
  description="All of my long-form thoughts on programming, leadership, product design, and more, collected in chronological order."
>
  <Container>
    <h1 class="mb-10 text-5xl font-black tracking-tighter">
      All things web development, hiking, camping, books, and more.
    </h1>
    <section>
      <div class="list-none">
        {
          books.map((book) => (
            <div class="my-16 md:border-l md:border-zinc-100 md:pl-6 md:dark:border-zinc-700/40">
              <div class="flex max-w-3xl flex-col space-y-16">
                <Book {book} />
              </div>
            </div>
          ))
        }
      </div>
    </section>
  </Container>
</MainLayout>
