---
// import { Popover, Transition } from '@headlessui/react'
// import { ChevronDownIcon } from './Icons/ChevronDownIcon'

import Container from '../Container.astro';
import NavBar from './NavBar.astro';
---

<header class="shadow-sm shadow-slate-200">
  <Container
    class="top-[var(--header-top,theme(spacing.6))] w-full"
    style={{ position: 'var(--header-inner-position)' }}
  >
    <nav
      class="mx-auto mt-5 flex max-w-7xl flex-col items-center justify-between md:mt-0 md:flex-row"
      aria-label="Global"
    >
      <a
        href="/"
        class="prose-xl font prose -m-1.5 p-1.5 font-sans text-2xl text-black"
      >
        <h1 class="mt-2 text-2xl sm:text-3xl">Rosnovsky Park™</h1>
      </a>
      <div class="lg:flex lg:gap-x-12">
        <NavBar />
      </div>
    </nav>
  </Container>
</header>
