---
// import { Popover, Transition } from '@headlessui/react'
// import { ChevronDownIcon } from './Icons/ChevronDownIcon'

import Container from '../Container.astro';
import NavBar from './NavBar.astro';
---

<header>
  <Container
    class="top-[var(--header-top,theme(spacing.6))] w-full"
    style={{ position: 'var(--header-inner-position)' }}
  >
    <nav
      class="mx-auto mt-5 flex max-w-7xl flex-col items-center justify-between md:mt-0 md:flex-row"
      aria-label="Global"
    >
      <a href="/" class="-m-1.5 p-1.5 text-xl font-bold">
        <span>Rosnovsky Park™</span>
      </a>
      <div class="lg:flex lg:gap-x-12">
        <NavBar />
      </div>
    </nav>
  </Container>
</header>
