---
const { href } = Astro.props;
---

<li>
  <a
    href={href}
    class:list={[
      `text-md relative block px-3 py-2 transition`,
      `hover:text-teal-500 dark:hover:text-teal-400`,
    ]}
    rel="prefetch"
  >
    <slot />

    <span
      class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
    ></span>
  </a>
</li>
