---
import clsx from 'clsx';
const props = Astro.props;
---

<div class={clsx('sm:px-8', props.class)} {...props}>
  <div class="mx-auto max-w-7xl lg:px-8">
    <div class={clsx('relative px-4 sm:px-8 lg:px-12', props.class)} {...props}>
      <div class="mx-auto max-w-2xl lg:max-w-5xl"><slot /></div>
    </div>
  </div>
</div>
