---
// import { Popover, Transition } from '@headlessui/react'
// import { ChevronDownIcon } from './Icons/ChevronDownIcon'

import Container from './Container.astro';
import NavBar from './NavBar.astro';
---

<header
  class="pointer-events-none relative z-50 flex flex-col"
  style={{
    height: 'var(--header-height)',
    marginBottom: 'var(--header-mb)',
  }}
>
  <div
    class="top-0 z-10 h-16 pt-6"
    style={{ position: 'var(--header-position)' as any }}
  >
    <Container
      class="top-[var(--header-top,theme(spacing.6))] w-full"
      style={{ position: 'var(--header-inner-position)' }}
    >
      <div class="relative flex gap-4">
        <div class="flex flex-1">
          <slot />
        </div>
        <div class="flex flex-1 justify-end md:justify-center">
          <NavBar class="pointer-events-auto hidden md:block" />
        </div>
        <div class="flex justify-end md:flex-1">
          <div class="pointer-events-auto"></div>
        </div>
      </div>
    </Container>
  </div>
</header>
