---
import { Icon } from 'astro-icon/components'
---

<footer class="mx-auto max-w-3xl pb-20">
  <hr
    class="mt-14 h-px w-full pb-6 text-slate-300/75 dark:text-slate-700/75 sm:pb-4"
  />
  <div class="flex flex-col sm:flex-row sm:items-center sm:justify-between">
    <p
      class="pl-0.5 text-lg font-semibold tracking-wide text-slate-900 dark:text-slate-100 sm:pl-0"
    >
      Share post
    </p>
    <div class="mt-2.5 flex gap-3 sm:mt-0 sm:gap-4">
      <button
        class="group flex h-10 items-center justify-center gap-3 rounded-full border border-slate-200 px-6 text-sm font-medium text-slate-600 duration-200 ease-in-out hover:bg-slate-50 dark:border-slate-700 dark:text-slate-300 dark:hover:bg-slate-800"
        data-share-url
      >
        <Icon
          name="copy"
          class="h-3.5 w-3.5 text-slate-500 transition duration-200 ease-in-out group-hover:text-slate-600"
          stroke-width="1.25"
        />
        Copy link
      </button>
    </div>
  </div>
</footer>
