---
import { Image } from 'astro:assets';
import { Icon } from 'astro-icon/components';
import Button from './Button.astro';
import Container from './Container.astro';
import SquareWithOverlayedLines from './illustrations/SquareWithOverlayedLines.astro';
import DashPattern from './illustrations/DashPattern.astro';
import workstationImage1 from '@images/workstation-01.jpg';
import workstationImage2 from '@images/workstation-02.jpg';
---

<section
  class="overflow-hidden bg-slate-50 py-16 dark:bg-slate-950 sm:py-24 lg:py-32"
>
  <Container>
    <div
      class="grid grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:grid-cols-2 lg:items-center"
    >
      <div>
        <div class="mx-auto max-w-2xl lg:mx-0">
          <h2
            class="font-display text-4xl font-semibold text-slate-900 dark:text-slate-100 sm:text-5xl"
          >
            A tour of my gadgets and workstation
          </h2>
          <p
            class="mt-6 max-w-lg text-lg leading-8 text-slate-700 dark:text-slate-300"
          >
            I run Linux on my laptop, desktop, and home server. I use a
            mechanical keyboard, and a 32-inch 4K monitor. I also have an iPad,
            iPhone, a Garmin watch, and a Steam Deck. Sometimes I post about my
            experiences with these gadgets and my setup on my Mastodon account.
          </p>
          <Button
            href="https://lounge.town/@rosnovsky"
            class="mt-10 gap-x-3.5 bg-slate-200/75 dark:bg-slate-800/75 dark:text-slate-200 dark:ring-slate-700 dark:hover:bg-slate-700 dark:hover:ring-slate-400"
            variant="secondary"
          >
            <Icon name="mastodon" class="h-4 w-4 text-emerald-500" />
            Follow me on Mastodon
          </Button>
        </div>
      </div>
      <div class="relative mx-auto w-full max-w-xl pb-24 lg:mx-0 lg:max-w-none">
        <SquareWithOverlayedLines />
        <div class="relative ml-auto w-4/5">
          <DashPattern />

          <div class="aspect-h-5 aspect-w-6">
            <Image
              src={workstationImage1}
              alt="Workstation setup"
              class="h-full w-full rounded-2xl object-cover object-center"
            />
          </div>
        </div>
        <div class="absolute bottom-0 left-0 w-1/2">
          <div class="aspect-h-1 aspect-w-1">
            <Image
              src={workstationImage2}
              alt="Keyboard and mouse"
              class="h-full w-full rounded-2xl object-cover object-center"
            />
          </div>
        </div>
      </div>
    </div>
  </Container>
</section>
