---
import Container from '@components/Container.astro';
import BlogGrid from '@components/blog/BlogGrid.astro';
import Underline from '@components/illustrations/Underline.astro';
import { getSortedPosts } from '@utils/posts';

const featuredPosts = (await getSortedPosts()).slice(0, 9);
---

<section
  class="overflow-hidden bg-white py-16 dark:bg-slate-900 sm:pt-24 lg:pt-28"
>
  <Container>
    <h2
      class="mx-auto max-w-2xl text-center font-display text-4xl font-semibold leading-tight text-slate-900 dark:text-slate-200 sm:text-5xl sm:leading-tight"
    >
      <span class="relative whitespace-nowrap">
        <Underline />
        <span class="relative text-emerald-700 dark:text-emerald-400"
          >Latest</span
        >
      </span>
      posts from the blog
    </h2>

    <BlogGrid posts={featuredPosts} featured={true} />
  </Container>
</section>
