---
import MainLayout from './MainLayout.astro';
import Container from '../components/Container.astro';
import { getCollection, type CollectionEntry } from 'astro:content';
import { pluralize } from '../lib/helpers';
import Book from '../components/Book.astro';

const { book } = Astro.props;
const allBooks = await getCollection('books');
const books = allBooks
  .filter((bookItem) => bookItem.data.genre === book.data.genre)
  .sort((a, b) => b.data.pubDate.getFullYear() - a.data.pubDate.getFullYear());
console.info(books);
---

<MainLayout>
  <Container class="mt-16 lg:mt-32">
    <div class="prose-xl prose mb-20">
      <h1 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
        {book.data.genre} books
      </h1>
       I've got <strong>{pluralize(books.length, 'book')}</strong> in {
        book.data.genre
      }
       genre in my library, with a total of <strong
        >{books.reduce((total, book) => total + book.data.pages, 0)} pages</strong
      >. I've read <strong
        >{
          Math.floor(
            (books.filter((book) => book.data.status === 'read').length /
              books.length) *
              100
          )
        }%</strong
      > of them.
    </div>
    <section>
      <div
        class="mx-auto mt-16 grid max-w-2xl auto-rows-fr grid-cols-1 gap-8 sm:mt-20 lg:mx-0 lg:max-w-none lg:grid-cols-3"
      >
        {books.map((book) => <Book {book} />)}
      </div>
    </section>
  </Container>
</MainLayout>
