---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';

const { title, description } = Astro.props;
---

<html class="h-full antialiased" lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body class="flex h-full flex-col bg-zinc-50 dark:bg-black">
    <Header />
    <main class="container mt-36">
      <slot />
    </main>
    <Footer />
  </body>
</html>
