*.log
.DS_Store
.next
node_modules
.env.*
.vercel
.env.*
public/sw.js.map
*/sw.js.map
*/sw.js
coverage/
.svelte-kit/
build/

# Sentry
.sentryclirc

# .nyc_output
.nyc_output

.dccache
cypress/screenshots/
cypress/videos

# PWA files
**/public/sw.js
**/public/workbox-*.js
**/public/worker-*.js
**/public/sw.js.map
**/public/workbox-*.js.map
**/public/worker-*.js.map
